body {
  background: #ffded8;
  /* color: black; */
  font-family: ff3;
}
@font-face {
  font-family: ff3;
  src: url("fonts/ff3.ttf");
}
html {
  font-size: 10px;
}
.imgtah12 {
  width: 20rem;
  height: 22rem;
  /* padding-right: 8rem;
  /* margin-top: -11rem; */
  border-radius: 2rem;
}
.imgtah1 {
  display: flex;
  justify-content: flex-end;
  margin-top: -7rem;
  padding-right: 8rem;
  border-radius: 2rem;
}
.txt4 {
  display: flex;
  justify-content: flex-start;
  padding-left: 10rem;
  margin-top: -8rem;
  font-size: 3rem;
  color: white;
  cursor: default;
}
.bb1 {
  padding-bottom: 2rem;
}
.sp {
  padding-bottom: 2rem;
}
.txt2 {
  position: absolute;
  top: 35%;
  left: 39%;
  list-style: none;
  font-family: ff3;
  font-size: 1.9rem;
  color: white;
  cursor: default;
}
.lst1 {
  position: absolute;
  top: 35%;
  left: 23%;
  list-style: none;
  font-family: ff3;
  font-size: 1.9rem;
  color: white;
  cursor: default;
}

.wet4 {
  width: 10rem;
}
.imgholder {
  display: flex;
  justify-content: center;
}
.imgf1 {
  width: 15rem;
  margin-top: -8rem;
}

.wer2 {
  width: 88rem;
  height: 54rem;
  background-color: #148341;
  /* color: wheat; */
  box-shadow: 1px 1px 90px rgb(12, 99, 42), 1px 1px 40px rgb(15, 85, 37),
    inset 1px 1px 6px 6px #262625;
  border: 0.2rem solid rgb(24, 23, 23);
  /* box-shadow: inset 0px 0px 6px 6px #262625; */
  border-radius: 1rem;
  /* margin-top: 0; */
}
.tplog {
  width: 18rem;
}
.summa1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  /* margin: 1rem; */
}

@media only screen and (max-width: 400px) {
  .wer2 {
    width: 29rem;
    height: 52rem;
  }
  .summa1 {
    margin-top: 5rem;
  }
  .tplog {
    width: 8rem;
  }
  .imgf1 {
    width: 6rem;
    height: 6rem;
    margin-top: -4rem;
  }
  .txt2 {
    position: absolute;
    top: 40%;
    left: 39%;
    list-style: none;
    font-family: ff3;
    font-size: 3rem;
    color: white;
  }
  .lst1 {
    position: absolute;
    top: 40%;
    left: 23%;
    list-style: none;
    font-family: ff3;
    font-size: 1.4rem;
    /* margin-left: -1rem; */
    color: white;
  }
  .txt4 {
    font-size: 1rem;
    position: absolute;
    top: 47%;
  }
  .imgtah12 {
    width: 8rem;
    height: 9rem;
    border-radius: 2rem;
    position: absolute;
    top: 20%;
    left: 38%;
  }
}
